@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lead">
    <h1>Why?</h1>
    <div class="lead">Did I have a <span id="changeText">Perfect</span> Day  <span id="findout"><span class="glyphicon glyphicon-arrow-right"></span> Find out why and maximize your great days!</span></div>
</div>
<h2>How do you feel</h2>
<div class="stateinput">
    <button type="button" class="btn btn-success" value="Good/Fine" id="b1">Good/Fine</button>
    <button type="button" class="btn btn-success" value="Confident" id="b2">Confident</button>
    <button type="button" class="btn btn-success" value="Content" id="b3">Content</button>
    <button type="button" class="btn btn-success" value="Excited" id="b4">Excited</button>
    <button type="button" class="btn btn-success" value="Happy" id="b5">Happy</button>
    <button type="button" class="btn btn-success" value="Motivated" id="b6">Motivated</button>
    <button type="button" class="btn btn-success" value="Proud" id="b7">Proud</button>
</div>
<div id="stateform" style="display:none;">
    <div>
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-success" id="close">Close</button>
        <h3 id="statetitel"></h3>
    </div>
    <h4>Weather?</h4>
    <div class="weatherbuttons">
        <button type="button" class="btn" value="Sunny" id="w1"><i class="em em-sunny"></i> Sunny</button>
        <button type="button" class="btn" value="Overcast" id="w2"><i class="em em-barely_sunny"></i> Overcast</button>
        <button type="button" class="btn" value="Raining" id="w3"><i class="em em-rain_cloud"></i> Raining</button>
        <button type="button" class="btn" value="Snowing" id="w4"><i class="em em-snow_cloud"></i> Snowing</button>
    </div>
   
    <div style="margin-bottom:15px;"></div> 
    <h4>Location</h4>
    <div class="locationbuttons">
            <div class="locationbuttons">
                <button type="button" class="btn" value="Home" id="l1"><i class="em em-house"></i> Home</button>
                <button type="button" class="btn" value="Work" id="l2"><i class="em em-office"></i> Work</button>
                <button type="button" class="btn" value="Vacation" id="l3"><i class="em em-beach_with_umbrella"></i> Vacation</button>
                <button type="button" class="btn" value="Out" id="l4"><i class="em em-man_dancing"></i> Out/Social</button>
            </div>
           
        
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="States.State" class="form-control" id="statetitle" />
                <input asp-for="States.Weather" class="form-control" id="weather" />
                <input asp-for="States.Location" class="form-control" id="location" />




                <div class="form-group">
                    <label asp-for="States.Notes" class="control-label"></label>
                    <textarea asp-for="States.Notes" class="form-control"></textarea>
                    <span asp-validation-for="States.Notes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="States.DateState" class="control-label">When</label>
                    <input asp-for="States.DateState" type="datetime-local" id="DateState" class="form-control" value="2017-06-01T05:30" />
                    <span asp-validation-for="States.DateState" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="States.Temperature" class="control-label"></label>
                    <input asp-for="States.Temperature" class="form-control" />
                    <span asp-validation-for="States.Temperature" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
</div>

