@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="lead">
    <h1>Why?</h1>
    <div class="lead">Did I have a <span id="changeText">Perfect</span> Day  <span id="findout"><span class="glyphicon glyphicon-arrow-right"></span> Find out why and maximize your great days!</span></div>
</div>
<h3>I'm feeling: <span id="statetitleh3"></span></h3>
<div class="form-group stateinput">
    <div class="good">
        <button type="button" class="btn" value="Very Full"><i class="em em-relieved"></i> Very Full</button>
        <button type="button" class="btn" value="Full"><i class="em em-smile"></i> Full</button>
        <button type="button" class="btn" value="Content">Content</button>
    </div>
    <div class="bad">
        <button type="button" class="btn" value="Hungry"><i class="em em-worried"></i> Hungry</button>
        <button type="button" class="btn" value="Very Hungry"><i class="em em-unamused"></i> Very Hungry</button>
        <button type="button" class="btn" value="Angry Hungry"><i class="em em-angry"></i> Angry Hungry</button>
        <button type="button" class="btn" value="Thristy"><i class="em em-glass_of_milk"></i> Thristy</button>


    </div>
    <div class="sick">
        <button type="button" class="btn" value="Nauseous"><i class="em em-face_with_open_mouth_vomiting"></i> Nauseious</button>
        <button type="button" class="btn" value="Gassy"><i class="em em-bomb"></i> Gassy</button>
        <button type="button" class="btn" value="Heartburn"><i class="em em-pill"></i> Heartburn</button>
        <button type="button" class="btn" value="Headache"><i class="em em-dizzy_face"></i> Headache</button>
        <button type="button" class="btn" value="Tired"><i class="em em-sleeping"></i> Tired</button>
    </div>
</div>
<div id="stateform" style="display:none;">

    <h3>The weather is: <span id="weatherh3"></span></h3>
    <div class="form-group weather">
        <button type="button" class="btn" value="Sunny"><i class="em em-sunny"></i> Sunny</button>
        <button type="button" class="btn" value="Overcast"><i class="em em-barely_sunny"></i> Overcast</button>
        <button type="button" class="btn" value="Raining"><i class="em em-rain_cloud"></i> Raining</button>
        <button type="button" class="btn" value="Snowing"><i class="em em-snow_cloud"></i> Snowing</button>
    </div>
    <h3>The temperature is: <span id="temph3"></span></h3>
    <div class="form-group temperature">
        <button type="button" class="btn freezing" value="Freezing">Freezing</button>
        <button type="button" class="btn cold" value="Cold">Cold</button>
        <button type="button" class="btn pleasent" value="Pleasent">Pleasent</button>
        <button type="button" class="btn warm" value="Warm">Warm</button>
        <button type="button" class="btn hot" value="Hot">Hot</button>
    </div>

    <h3>My location is: <span id="loch3"></span></h3>
    <div class="form-grop locationbuttons">
        <button type="button" class="btn" value="Home"><i class="em em-house"></i> Home</button>
        <button type="button" class="btn" value="Work"><i class="em em-office"></i> Work</button>
        <button type="button" class="btn" value="Vacation"><i class="em em-beach_with_umbrella"></i> Vacation</button>
        <button type="button" class="btn" value="Out"><i class="em em-man_dancing"></i> Out/Social</button>
    </div>
    
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="States.State" class="form-control" id="statetitle" />
        <input type="hidden" asp-for="States.Weather" class="form-control" id="weather" />
        <input type="hidden" asp-for="States.Location" class="form-control" id="location" />
        <input type="hidden" asp-for="States.Temperature" id="temperature" class="form-control" />

        <div class="form-group">
            <label asp-for="States.Notes" class="control-label"></label>
            <textarea asp-for="States.Notes" class="form-control"></textarea>
            <span asp-validation-for="States.Notes" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="States.DateState" class="control-label">When</label>
            <input asp-for="States.DateState" type="datetime-local" id="datestate" class="form-control" />
            <span asp-validation-for="States.DateState" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" asp-page-handler="AddState" value="Submit" class="btn btn-default" />
        </div>
    </form>
</div>

