body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Header Styles*/

#lead1 {
    display:none;
}

#changeText {
    color:red;
}

#findout {
    display:none;
}
.btn {
    background:none;
}
.good .feelselect {
    box-shadow: gray 0px 0px !important;
    border: 1px solid black !important;
    background-color: lightgreen !important;
}

.bad .feelselect {
    box-shadow: gray 0px 0px !important;
    border: 1px solid black !important;
    background-color: lightcoral !important;
}

.good button {
    border: 1px solid green;
    box-shadow: lightgray 2px 2px;
    margin: 2px;
}
.good button:hover {
    background-color:lightgreen;
}
.bad button {
    border: 1px solid red;
    box-shadow: lightgray 2px 2px;
    margin: 2px;
}
.bad button:hover {
    background-color: lightcoral;
}
.temperature button {
    box-shadow: lightgray 2px 2px;
    margin:5px;
}
.temperature .feelselect {
    box-shadow: gray 0px 0px !important;
    border: 2px solid black !important;
}

.temperature button:hover {
    box-shadow: gray 0px 0px !important;
    border: 2px solid black !important;
}

.freezing {
    background-color: aqua;
}
.cold {
    background-color: blue;
    color:white;
}
.cold:focus, .cold:hover {
        background-color: blue;
        color: white;
        box-shadow: 0px 0px;
}
.pleasent {
    background-color: yellow;
}
.warm {
    background-color:orange;
}
.hot {
    background-color:red;
    color:white;
}
